@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap");

body {
  font-family: "Prompt", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

body {
  background-color: gray;
}
